.App {
  text-align: center;
  border: 1px solid black;
}

.qu {
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.other {
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

button {
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}